.wrapper {
    padding: 0 64px 44px 0;
}

.top {
    h3 {
        color: #757575;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.8;
        text-transform: uppercase;
    }
}

.pagination {
    margin-top: 20px;
}
