<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Free Fire - Trung tâm nạp thẻ Garena</title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="shortcut icon" href="/image/icon.png" type="image/x-icon" />
        <meta name="robots" content="noindex, follow" />
        <link rel="canonical" href="" />
        <meta
            key="description"
            name="description"
            content="Trang nạp thẻ chính thức của Garena. Nạp kim cương dễ dàng và an toàn cho Free Fire."
        />
        <meta
            key="keywords"
            name="keywords"
            content="nạp tiền, nạp game, nạp game x5, nạp game x10, kc free, kc miễn phí, garena, game, games"
        />
        <meta key="twitter:title" name="twitter:title" content="Free Fire - Trung tâm nạp thẻ Garena" />
        <meta
            key="twitter:description"
            name="twitter:description"
            content="Trang nạp thẻ chính thức của Garena. Nạp kim cương dễ dàng và an toàn cho Free Fire."
        />
        <meta key="og:title" property="og:title" content="Free Fire - Trung tâm nạp thẻ Garena" />
        <meta key="og:type" property="og:type" content="website" />
        <meta
            key="og:image"
            property="og:image"
            content="https://cdn-gop.garenanow.com/webmain/static/payment_center/common/garena-logo.png"
        />
        <meta key="og:url" property="og:url" content="" />
        <meta
            key="og:description"
            property="og:description"
            content="Trang nạp thẻ chính thức của Garena. Nạp kim cương dễ dàng và an toàn cho Free Fire."
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="container">
            <div class="banner">
                <img src="/image/banner.jpg" alt="Games Banner" />
            </div>
            <marquee class="header-run" scrolldelay="8" direction="left">
                <b><span class="text-run">31231**** </span></b> Vừa nạp thành công thẻ Viettel 50.000 VNĐ vào 00 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">23463**** </span></b> Vừa nạp
                thành công thẻ Zing 500.000 VNĐ vào 01 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">96532**** </span></b> Vừa nạp thành công thẻ Vinaphone 200.000 VNĐ vào 03 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">12673**** </span></b> Vừa nạp
                thành công thẻ Viettel 1.000.000 VNĐ vào 10 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">75643**** </span></b> Vừa nạp thành công thẻ Mobifone 200.000 VNĐ vào 17 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">25325**** </span></b> Vừa nạp
                thành công thẻ Vinaphone 100.000 VNĐ vào 19 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">63235**** </span></b> Vừa nạp thành công thẻ Mobifone 50.000 VNĐ vào 25 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">24566**** </span></b> Vừa nạp
                thành công thẻ Viettel 200.000 VNĐ vào 26 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">12443**** </span></b> Vừa nạp thành công thẻ Zing 1.000.000 VNĐ vào 29 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">96534**** </span></b> Vừa nạp
                thành công thẻ Vinaphone 100.000 VNĐ vào 33 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">21347**** </span></b> Vừa nạp thành công thẻ Viettel 500.000 VNĐ vào 34 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">25732**** </span></b> Vừa nạp
                thành công thẻ Mobifone 100.000 VNĐ vào 38 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">17353**** </span></b> Vừa nạp thành công thẻ Vinaphone 200.000 VNĐ vào 42 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">13712**** </span></b> Vừa nạp
                thành công thẻ Vinaphone 500.000 VNĐ vào 43 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">68231**** </span></b> Vừa nạp thành công thẻ Mobifone 200.000 VNĐ vào 44 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">98273**** </span></b> Vừa nạp
                thành công thẻ Mobifone 100.000 VNĐ vào 48 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">71231**** </span></b> Vừa nạp thành công thẻ Viettel 1.000.000 VNĐ vào 49 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">81231**** </span></b> Vừa nạp
                thành công thẻ Viettel 500.000 VNĐ vào 51 phút trước<span style="margin-right: 40px"></span>
                <b><span class="text-run">89021**** </span></b> Vừa nạp thành công thẻ Vinaphone 50.000 VNĐ vào 53 phút
                trước<span style="margin-right: 40px"></span> <b><span class="text-run">43223**** </span></b> Vừa nạp
                thành công thẻ Zing 1.000.000 VNĐ vào 57 phút trước<span style="margin-right: 40px"></span>
            </marquee>

            <div class="top">
                <h1>TOP TÀI KHOẢN NẠP NHIỀU NHẤT GARENA FREE FIRE MAX</h1>
                <ul>
                    <li class="top-game">
                        <span>TOP 1: TDT.ƁÁC●GẤU (ID: 297885124)</span>
                        <span>82.300.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 2: Tｈｉêｎ Kｉｍㅤ㊪ (ID: 416686630)</span>
                        <span>54.000.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 3: Tiên.BầuCute (ID: 275815508)</span>
                        <span>31.650.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 4: BéBiiGMᶜᵘᵃ (ID: 957902927)</span>
                        <span>28.950.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 5: 66²丶ŠuŋⓃ (ID: 94331282)</span>
                        <span>27.950.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 6: CatĐángYêu❁ (ID: 223631401)</span>
                        <span>22.030.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 7: QuỳnhㅤFF (ID: 181342382)</span>
                        <span>17.620.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 8: SưㅤPɧụㅤ! (ID: 314972404)</span>
                        <span>14.640.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 9: Hoàg꓄uấnAnh√ (ID: 3092903809)</span>
                        <span>14.250.000 VNĐ</span>
                    </li>
                    <li class="top-game">
                        <span>TOP 10: TàoCuaᴮⁱⁱ (ID: 23505783)</span>
                        <span>11.000.000 VNĐ</span>
                    </li>
                </ul>
            </div>

            <hr class="line-hr" />

            <form class="form">
                <div class="form-card">
                    <label class="form-label" for="">LOẠI THẺ:</label>
                    <select name="telco" class="form-control">
                        <option value="">Chọn loại thẻ</option>
                        <option value="VIETTEL">VIETTEL ( TỰ ĐỘNG )</option>
                        <option value="MOBIFONE">MOBIFONE ( TỰ ĐỘNG )</option>
                        <option value="VINAPHONE">VINAPHONE ( TỰ ĐỘNG )</option>
                        <option value="GARENA2">GARENA ( TỰ ĐỘNG )</option>
                        <option value="ZING">ZING ( TỰ ĐỘNG )</option>
                    </select>
                </div>
                <div class="form-card">
                    <label class="form-label" for="">MỆNH GIÁ:</label>
                    <select name="amount" class="form-control">
                        <option value="">Chọn mệnh giá</option>
                        <option value="50000">50.000 VNĐ - Nhận 1.415 KC</option>
                        <option value="100000">100.000 VNĐ - Nhận 2.830 KC</option>
                        <option value="200000">200.000 VNĐ - Nhận 5.660 KC</option>
                        <option value="300000">300.000 VNĐ - Nhận 8.490 KC</option>
                        <option value="500000">500.000 VNĐ - Nhận 14.150 KC</option>
                        <option value="1000000">1.000.000 VNĐ - Nhận 28.300 KC</option>
                    </select>
                </div>
                <div class="form-card">
                    <label class="form-label" for="">SỐ SERIAL:</label>
                    <input class="form-control" name="serial" type="text" placeholder="Nhập seri thẻ" />
                </div>
                <div class="form-card">
                    <label class="form-label" for="">MÃ THẺ:</label>
                    <input class="form-control" name="code" type="text" placeholder="Nhập mã thẻ" />
                </div>
                <div class="form-card">
                    <label class="form-label" for="">ID GAME:</label>
                    <input class="form-control" name="account_id" type="text" placeholder="Nhập ID game" />
                </div>
                <div class="form-card">
                    <button class="btn-post home" type="submit">NẠP NGAY</button>
                </div>
                <p class="from_rules">
                    * bằng cách nhấn " NẠP THẺ " đồng nghĩa bạn đã chấp nhận
                    <a class="rules" href="/">điều khoản</a> của chúng tôi
                </p>
                <div class="form-card">
                    <button class="btn-post home">
                        <a href="/">QUAY VỀ TRANG CHỦ</a>
                    </button>
                </div>
            </form>

            <div class="sale">
                <table class="sale-list">
                    <thead>
                        <tr>
                            <th class="text-board">MỆNH GIÁ</th>
                            <th class="text-board">VẬT PHẨM</th>
                            <th class="text-board">BẢO HÀNH</th>
                            <th class="text-board">X5 GIÁ TRỊ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50.000 VNĐ</td>
                            <td class="gift">
                                <span>1.415</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                        <tr>
                            <td>100.000 VNĐ</td>
                            <td class="gift">
                                <span>2.830</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                        <tr>
                            <td>200.000 VNĐ</td>
                            <td class="gift">
                                <span>5.660</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                        <tr>
                            <td>300.000 VNĐ</td>
                            <td class="gift">
                                <span>8.490</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                        <tr>
                            <td>500.000 VNĐ</td>
                            <td class="gift">
                                <span>14.150</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                        <tr>
                            <td>1.000.000 VNĐ</td>
                            <td class="gift">
                                <span>28.300</span>
                                <img class="image" src="/image/kc.png" />
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                            <td>
                                <b><a style="color: red">Có</a></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="guide">
                <h2 class="guide-title">HƯỚNG DẪN NẠP THẺ</h2>
                <ul>
                    <li>
                        <strong>Bước 1 :</strong> Chuẩn bị thẻ cào chưa qua sử dụng tương ứng với mốc bạn cần nạp , các
                        loại thẻ được hệ thống chấp nhận bạn xem tại phần loại thẻ.
                    </li>
                    <li><strong>Bước 2 :</strong> Nhập đúng ID GAME của tài khoản cần nạp.</li>
                    <li>
                        <strong>Bước 3 :</strong> Cào thẻ để biết được mã số nạp tiền dưới lớp tráng bạc , nhập đầy đủ
                        và chính xác thông tin như số Serial thẻ , Mã thẻ , Loại thẻ và mệnh giá trên thẻ cào của bạn.
                    </li>
                    <li>
                        <strong>Bước 4 :</strong> Cuối cùng ấn <strong style="color: #4682b4"> NẠP NGAY </strong> Hệ
                        thống sẽ tiến hành kiểm tra duyệt thẻ và tự động nếu thẻ đúng Kim Cương sẽ được cộng vào ID GAME
                        của bạn sau 30s - 1p.
                    </li>
                    <li>
                        <strong>LƯU Ý :</strong> Chuẩn bị thẻ cào chưa qua sử dụng tương ứng với mốc bạn cần nạp , các
                        loại thẻ được hệ thống chấp nhận bạn xem tại phần loại thẻ.
                    </li>
                </ul>
            </div>
            <div class="guide">
                <h2 class="guide-title">ĐIỀU KIỆN BẢO HÀNH</h2>
                <div class="sub-title">Các Trường Hợp Được Bảo Hành</div>
                <ul>
                    <li>1.1 / Nạp vào không nhận được Kim Cương trong game hoặc bị âm...</li>
                    <li>1.2 / Bị nhà phát hành game khóa tài khoản nếu do nạp tại web của chúng tôi.</li>
                    <li>
                        1.3 / Các bạn liên hệ bộ phận CSKH của chúng tôi để được hỗ trợ hoàn tiền đã nạp, đền bù acc
                        tương đương.
                    </li>
                </ul>

                <div class="sub-title">Các Trường Hợp Được Bảo Hành</div>
                <ul>
                    <li>2.1 / Nạp thẻ sai , không đúng hoặc đã qua sử dụng, sai mệnh giá.</li>
                    <li>2.2 / Điền sai thông tin thẻ hoặc ID GAME của bạn.</li>
                    <li>2.3 / Bị khóa tài do sử dụng phần mền gian lận, và các lý do khác không liên tới chúng tôi.</li>
                </ul>
            </div>

            <hr class="line-hr" />
            <footer class="footer">
                <div class="footer-heading">
                    <div>
                        <a class="footer-link" href="/">Câu hỏi thường gặp</a> |
                        <a class="footer-link" href="/">Điều khoản sử dụng</a> |
                        <a class="footer-link" href="/">Chính sách bảo mật</a>
                    </div>
                    <div class="footer-copyright">
                        © Vận hành bởi
                        <a class="footer-name" href="/"><%= hostname %></a>
                    </div>
                </div>
            </footer>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
